body{margin:4px 8px 0 0}
td{font-size:12px;line-height:18px}
a:link {text-decoration: underline}
a:visited {color: #261cdc; text-decoration: underline}
.rightarea{margin-left:155px!important;margin-left:15px;padding-top:0px;padding-left:0px;width:auto!important;width:100%}
.leftarea{float:left;padding-left:5px;padding-top:0px;width:150px!important;width:150px;margin-right:-5px}
.welcome{font-weight:bold;width:147px!important;width:147px;margin-left:0px;margin-top:0px;}
.subitema{padding:5px 0 5px 0px;width:150px;font-size:12px;}
.bgactive{padding:5px 0 5px 0px;width:150px;font-weight:bold;background-color:#D9F0F0;font-size:12px;text-decoration:none;}
.subitema14{padding:5px 0 5px 0px;width:150px;font-size:14px;}
.bgactive14{padding:5px 0 5px 0px;width:150px;font-weight:bold;background-color:#D9F0F0;font-size:14px;text-decoration:none;}

.hdch{margin-top:3px;height:21px;font-size:14px;font-family:arial}
a.top{font-family:arial}
a.top:link {COLOR: #0000cc; text-decoration: underline}
a.top:visited {COLOR: #800080; text-decoration: underline}
a.top:active {COLOR: #0000cc; text-decoration: underline}
.fB{ font-weight:bold;}
.i{font-size:16px; font-family:arial}
.c{color:#7777CC;}
a.c{color:#7777CC;}
a.c:visited{color:#7777CC;}
a.bluelink:link{color:#0033cc;}
a.bluelink:hover{color:#0033cc;}
a.bluelink:visited{color:#800080;}

.Tit1{height:24px;line-height:24px;font-size:14px;font-family:Arial}
.usrbar{font-size:12px;height:19px;line-height:19px;font-family:Arial}
#ft_ms{clear:both;margin-top:10px;line-height:20px;text-align:center}
#ft_ms,#ft_ms *{color:#77C;font-size:12px;font-family:Arial;white-space:nowrap}
.c{color:#7777CC}
a.c{color:#7777CC}
a.c:visited{color:#7777CC}
.BG3{background-color:#E7FBE3}
.ud {PADDING-RIGHT: 0px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-TOP: 0px; HEIGHT: 24px; BACKGROUND-COLOR: #d9f0f0
}
.l {
	BORDER-LEFT: #d9f0f0 20px solid;

	width:100%;
	position:relative;
	zoom:1

}