.listTableHead {
	font-size: medium;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	background-color: #CFDBF3;
	background-position: center center;
	font-family: "·ÂËÎ_GB2312";
	text-align: center;
	vertical-align: middle;
	position: relative;
	left: auto;
}
.listTableContent {
	font-family: "·ÂËÎ_GB2312";
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	background-color: #EEF4FF;
	background-position: center center;
	cursor: hand;
}
.editTableContent {
	font-family: "·ÂËÎ_GB2312";
	font-size: 18px;
	text-align: left;
	vertical-align: middle;
	background-color: #EEF4FF;
	background-position: center center;
	cursor: hand;
}
.tree {
	font-family: "·ÂËÎ_GB2312";
}
