<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<welcome-file-list>
		<welcome-file>forward.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.FilterDispatcher
		</filter-class>
		<!--  打开这段注释会出错,具体见http://netliving.javaeye.com/blog/200188 -->
		<init-param>
			<param-name>config</param-name>
			<param-value>struts.xml</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>
			elicitation.action.user.LoginServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/loginServlet.so</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>registerServlet</servlet-name>
		<servlet-class>
			elicitation.action.user.RegisterServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registerServlet</servlet-name>
		<url-pattern>/registerServlet.so</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addDomainServlet</servlet-name>
		<servlet-class>
			elicitation.action.domain.DomainServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addDomainServlet</servlet-name>
		<url-pattern>/addDomainServlet.so</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addProjectServlet</servlet-name>
		<servlet-class>
			elicitation.action.project.ProjectServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addProjectServlet</servlet-name>
		<url-pattern>/addProjectServlet.so</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>addDataServlet</servlet-name>
		<servlet-class>
			elicitation.action.data.AddDataServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addDataServlet</servlet-name>
		<url-pattern>/addDataServlet.so</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addRoleServlet</servlet-name>
		<servlet-class>
			elicitation.action.role.RoleServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addRoleServlet</servlet-name>
		<url-pattern>/addRoleServlet.so</url-pattern>
	</servlet-mapping>
	<!-- add Scenario -->
	<servlet>
		<servlet-name>addScenarioServlet</servlet-name>
		<servlet-class>
			elicitation.action.scenario.ScenarioServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addScenarioServlet</servlet-name>
		<url-pattern>/addScenarioServlet.so</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getProjectData</servlet-name>
		<servlet-class>
			elicitation.action.project.ProjectDataServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getProjectData</servlet-name>
		<url-pattern>/getProjectData.so</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getProjectRole</servlet-name>
		<servlet-class>
			elicitation.action.project.ProjectRoleServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getProjectRole</servlet-name>
		<url-pattern>/getProjectRole.so</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>freeDesServlet</servlet-name>
		<servlet-class>
			elicitation.action.scenario.FreeDesServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>freeDesServlet</servlet-name>
		<url-pattern>/freeDesServlet.so</url-pattern>
	</servlet-mapping>
	
	<servlet>	
		<servlet-name>updateDesServlet</servlet-name>
		<servlet-class>
			elicitation.action.scenario.UpdateDesServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateDesServlet</servlet-name>
		<url-pattern>/updateDesServlet.so</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getScenarioDes</servlet-name>
		<servlet-class>
			elicitation.action.scenario.GetScenarioDesServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getScenarioDes</servlet-name>
		<url-pattern>/getScenarioDes.so</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>logoutServlet</servlet-name>
		<servlet-class>
			elicitation.action.user.LogOutServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutServlet</servlet-name>
		<url-pattern>/logoutServlet.so</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>sendJoinRequest</servlet-name>
		<servlet-class>elicitation.action.scenario.SendJoinRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sendJoinRequest</servlet-name>
		<url-pattern>/sendJoinRequest.so</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getDomainListServlet</servlet-name>
		<servlet-class>elicitation.action.domain.GetDomainListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getDomainListServlet</servlet-name>
		<url-pattern>/getDomainList.so</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteProjectData</servlet-name>
		<servlet-class>elicitation.action.project.DeleteProjectDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteProjectData</servlet-name>
		<url-pattern>/deleteProjectData.so</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteProjectRole</servlet-name>
		<servlet-class>elicitation.action.project.DeleteProjectRoleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteProjectRole</servlet-name>
		<url-pattern>/deleteProjectRole.so</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteProjectScenario</servlet-name>
		<servlet-class>elicitation.action.project.DeleteProjectScenarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteProjectScenario</servlet-name>
		<url-pattern>/deleteProjectScenario.so</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getScenarioRole</servlet-name>
		<servlet-class>elicitation.action.scenario.GetScenarioRoleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getScenarioRole</servlet-name>
		<url-pattern>/getScenarioRole.so</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getProjectRequest</servlet-name>
		<servlet-class>elicitation.action.request.GetProjectRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getProjectRequest</servlet-name>
		<url-pattern>/getProjectRequest.so</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>approveRequest</servlet-name>
		<servlet-class>elicitation.action.request.ApproveRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>approveRequest</servlet-name>
		<url-pattern>/approveRequest.so</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>rejectRequest</servlet-name>
		<servlet-class>elicitation.action.request.RejectRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>rejectRequest</servlet-name>
		<url-pattern>/rejectRequest.so</url-pattern>
	</servlet-mapping>
	
	<!-- 提交自定义问题类别 -->	
	<servlet>
		<servlet-name>submitQuestionKind</servlet-name>
		<servlet-class>elicitation.action.question.SubmitQuestionKindServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>submitQuestionKind</servlet-name>
		<url-pattern>/submitQuestionKind.so</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getQKind</servlet-name>
		<servlet-class>elicitation.action.question.GetQKindServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getQKind</servlet-name>
		<url-pattern>/getQKind.so</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>submitQuestion</servlet-name>
		<servlet-class>elicitation.action.question.SubmitQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>submitQuestion</servlet-name>
		<url-pattern>/submitQuestion.so</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getQuestion</servlet-name>
		<servlet-class>elicitation.action.question.GetQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getQuestion</servlet-name>
		<url-pattern>/getQuestion.so</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getProjectScenario</servlet-name>
		<servlet-class>elicitation.action.project.GetProjectScenarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getProjectScenario</servlet-name>
		<url-pattern>/getProjectScenario.so</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getProjectQuestion</servlet-name>
		<servlet-class>elicitation.action.project.GetProjectQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getProjectQuestion</servlet-name>
		<url-pattern>/getProjectQuestion.so</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>submitSolution</servlet-name>
		<servlet-class>elicitation.action.project.SubmitSolutionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>submitSolution</servlet-name>
		<url-pattern>/submitSolution.so</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>voteSolution</servlet-name>
		<servlet-class>elicitation.action.solution.VoteSolutionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>voteSolution</servlet-name>
		<url-pattern>/voteSolution.so</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getScenarioSolution</servlet-name>
		<servlet-class>elicitation.action.solution.GetScenarioSolutionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getScenarioSolution</servlet-name>
		<url-pattern>/getScenarioSolution.so</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>pickSolution</servlet-name>
		<servlet-class>elicitation.action.solution.PickSolutionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pickSolution</servlet-name>
		<url-pattern>/pickSolution.so</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>contributeOK</servlet-name>
		<servlet-class>elicitation.action.project.ContributeServlet</servlet-class>		
	</servlet>
	<servlet-mapping>
		<servlet-name>contributeOK</servlet-name>
		<url-pattern>/contributeOK.so</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>makeVersion</servlet-name>
		<servlet-class>elicitation.action.scenario.MakeVersionServlet</servlet-class>		
	</servlet>
	<servlet-mapping>
		<servlet-name>makeVersion</servlet-name>
		<url-pattern>/makeVersion.so</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>reviewServlet</servlet-name>
		<servlet-class>elicitation.action.review.ReviewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reviewServlet</servlet-name>
		<url-pattern>/reviewServlet.so</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>pickRole</servlet-name>
		<servlet-class>elicitation.action.role.PickRole</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pickRole</servlet-name>
		<url-pattern>/pickRole.so</url-pattern>
	</servlet-mapping>
</web-app>
